/* EXTERNAL STYLESHEET FOR SWEET POTATO WEBSITE */

/* Need to:
    Center elements.
    Add color to header, main, and footer.
    Add padding and border to link to make it look like a button.
    Bonus: make image a circle. */

/* * {
    border: 1px solid black;
} */
  
body {
    background-color: antiquewhite;
    text-align: center;
}

header {
    background-color: aqua;

}

nav {
    background-color: rgb(144, 189, 145);
}

a {
    background-color: goldenrod;
    border: 1px solid black;
}

/* ChatGPT used to figure out how to crop image into a circle */
main img {
    border-radius: 50%;
    border-width: 1px solid black;
    overflow: hidden;
}

h2 {
    margin-bottom: 0;
    font-family: cursive;
}

#poemAuthor {
    margin-top: 3px;
}

#poem {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* main ul {
    width: 50%;

} Having trouble centering this list on the page */

footer {
    background-color: brown;
}